### I don't think analysis is helpful or can really be done

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
child = pd.read_csv("../../data/santa/child_wishlist_v2.csv")
gift = pd.read_csv("../../data/santa/gift_goodkids_v2.csv")

In [3]:
child.head(5)

,0,61,808,121,167,127,289,840,678,575,...,529,120,283,40,18,4,693,909,491,495
0,1,378,247,299,174,809,108,316,863,241,...,255,682,115,881,96,428,856,596,511,93
1,2,19,981,95,538,262,952,193,426,340,...,278,604,48,608,785,990,838,779,204,84
2,3,322,210,755,930,986,421,941,72,505,...,708,891,108,168,157,83,714,119,207,333
3,4,292,810,33,256,374,863,170,866,360,...,720,338,156,565,184,785,923,352,7,661
4,5,317,458,268,108,856,628,351,65,625,...,915,958,187,954,647,787,757,208,93,696

In [5]:
child.describe()

,0,61,808,121,167,127,289,840,678,575,...,529,120,283,40,18,4,693,909,491,495
count,999999.000000,999999.000000,999999.000000,999999.00000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,...,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000
mean,500000.000000,497.496402,497.443449,497.13880,497.349084,497.358233,497.452969,497.145598,497.342933,497.274276,...,497.555193,496.828700,497.480335,497.622625,497.522145,497.736469,497.384042,497.401991,497.221121,497.143282
std,288674.990255,285.176951,285.211525,285.33654,285.122363,285.204266,285.418131,285.359835,285.398809,285.356184,...,285.829276,285.913728,285.745700,285.748468,285.970488,285.708289,285.766722,286.098376,285.931467,285.872273
min,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,250000.500000,249.000000,249.000000,248.00000,249.000000,248.000000,248.000000,248.000000,248.000000,248.000000,...,248.000000,248.000000,248.000000,248.000000,248.000000,249.000000,248.000000,248.000000,248.000000,248.000000
50%,500000.000000,505.000000,505.000000,504.00000,504.000000,505.000000,504.000000,504.000000,505.000000,505.000000,...,504.000000,504.000000,504.000000,505.000000,504.000000,505.000000,504.000000,504.000000,504.000000,504.000000
75%,749999.500000,743.000000,744.000000,744.00000,744.000000,743.000000,744.000000,744.000000,744.000000,744.000000,...,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,745.000000,744.000000,744.000000
max,999999.000000,999.000000,999.000000,999.00000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000

In [4]:
gift.head(5)

,0,377750,248196,299067,180786,820171,108149,313821,877739,241487,...,99113,478384,404864,774891,884180,399876,89415,63990,557947,637010
0,1,18884,986611,97454,533768,263045,960238,196391,425299,338638,...,955802,590760,264518,782966,851947,428381,177363,654964,485946,991338
1,2,320640,212052,763863,942751,990148,417668,950068,74076,500604,...,456788,935585,573507,988259,951843,114641,447778,901406,590127,473897
2,3,290226,821783,32328,258030,372587,878013,175868,880650,357737,...,469445,634120,515484,321208,68447,794987,174657,866274,192136,770993
3,4,315731,453346,267048,109022,868140,629924,352660,67686,626553,...,528323,886135,161623,463941,243322,346157,614767,922991,848821,590637
4,5,682944,803293,56296,988554,202639,111164,333091,742859,407549,...,358203,46613,415991,933484,334768,258859,686051,108435,911924,475299

In [6]:
gift.describe()

,0,377750,248196,299067,180786,820171,108149,313821,877739,241487,...,99113,478384,404864,774891,884180,399876,89415,63990,557947,637010
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,500.000000,488464.466466,514989.651652,507833.519520,500046.119119,506127.199199,496731.454454,501637.080080,500170.583584,489675.556557,...,505570.490490,488803.411411,495938.973974,497903.996997,486081.400400,509200.430430,487565.674675,505840.614615,507219.227227,502552.254254
std,288.530761,291932.489894,288194.496705,287710.664232,292386.239157,289387.609870,281451.462301,292944.701326,286296.995269,292218.891627,...,288539.704908,283042.134870,295718.203359,284785.331572,294803.292349,287660.444501,291584.177833,287651.053741,294518.533756,291955.999380
min,1.000000,955.000000,526.000000,2017.000000,1060.000000,449.000000,293.000000,1548.000000,1438.000000,529.000000,...,599.000000,3610.000000,1374.000000,749.000000,698.000000,581.000000,3176.000000,349.000000,388.000000,789.000000
25%,250.500000,233954.500000,269710.000000,256411.000000,246733.000000,246678.000000,255882.500000,246685.500000,253998.000000,231176.000000,...,259275.000000,246948.000000,229819.000000,254834.000000,231877.000000,262132.000000,225565.500000,249349.500000,237994.000000,250089.000000
50%,500.000000,467312.000000,517691.000000,511471.000000,499351.000000,514670.000000,494495.000000,492762.000000,507338.000000,475402.000000,...,501935.000000,484473.000000,488072.000000,498614.000000,462870.000000,514161.000000,477484.000000,507417.000000,518537.000000,497961.000000
75%,749.500000,743553.500000,765484.500000,760594.000000,759422.000000,754063.500000,736024.500000,760161.500000,735580.000000,744194.000000,...,755788.000000,725306.000000,759125.000000,733914.000000,735292.500000,758385.000000,737669.000000,758322.500000,759444.000000,764112.500000
max,999.000000,997297.000000,999952.000000,998445.000000,998775.000000,998240.000000,999139.000000,999622.000000,999523.000000,999846.000000,...,994863.000000,999809.000000,999587.000000,999888.000000,999904.000000,999552.000000,999474.000000,999634.000000,999772.000000,998841.000000